textarea {
  resize: none;
}

body {
  width: 600px;
  margin: auto;
  margin-top: 10px;
}

input {
  field-sizing: content;
}

.header {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) repeat(2, .75fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image-upload {
  grid-area: 1 / 1 / 4 / 2;
}

.name {
  grid-area: 1 / 2 / 2 / 5;
}

.summary {
  grid-area: 2 / 2 / 4 / 5;
}

.website {
  grid-area: 4 / 1 / 5 / 3;
}

.email {
  grid-area: 4 / 3 / 5 / 5;
}

.number {
  grid-area: 5 / 1 / 6 / 3;
}

.address {
  grid-area: 5 / 3 / 6 / 5;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  margin: auto;
  width: 400px;
}

.header-item {
  min-width: 0;
  word-wrap: wrap;
  word-break: break-all;
  border: 1px solid blue;
}

.unfocused {
  /* border: none; */
}